@model Inventarni_system.Models.Predmet

<h2>Upravit předmět</h2>

<form asp-action="Edit">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Nazev">Název:</label>
        <input asp-for="Nazev" required />
        @Html.ValidationMessageFor(m => m.Nazev, "", new { @class = "text-danger" })
    </div>
    <div>
        <label asp-for="SkladId">ID skladu:</label>
        <input asp-for="SkladId" required />
        @Html.ValidationMessageFor(m => m.SkladId, "", new { @class = "text-danger" })
    </div>
    <div>
        <label asp-for="Mnozstvi">Množství:</label>
        <input asp-for="Mnozstvi" required type="number" />
        @Html.ValidationMessageFor(m => m.Mnozstvi, "", new { @class = "text-danger" })
    </div>
    <div>
        <label asp-for="CenaZaKus">Cena za kus:</label>
        <input asp-for="CenaZaKus" required type="number" step="0.01" />
        @Html.ValidationMessageFor(m => m.CenaZaKus, "", new { @class = "text-danger" })
    </div>
    <button type="submit">Uložit změny</button>
</form>
